// orange theme sample
// $brand-primary: #d51;
// $brand-info: #ea2;
// $link-color: #800;
// $nav-pills-active-link-hover-bg: #d51;
// $btn-primary-bg: #d51;
// $btn-primary-border: #da0;
// $btn-info-bg: #fa4;
// $btn-info-border: #da0;
// $fg-nav-tabs-active: #fb1;

// blue theme sample
$brand-primary: #2196F3;
$brand-info: #03A9F4;
$link-color: #01579B;
$nav-pills-active-link-hover-bg: #2196F3;
$btn-primary-bg: #2196F3;
$btn-primary-border: #64B5F6;
$btn-info-bg: #4FC3F7;
$btn-info-border: #64B5F6;
$fg-nav-tabs-active: #2196F3;

