// orange theme sample
// $brand-primary: #d51;
// $brand-info: #ea2;
// $link-color: #800;
// $nav-pills-active-link-hover-bg: #d51;
// $btn-primary-bg: #d51;
// $btn-primary-border: #da0;
// $btn-info-bg: #fa4;
// $btn-info-border: #da0;
// $fg-nav-tabs-active: #fb1;

// blue theme sample
$brand-primary: #3C89CC;
$brand-info: #3C89CC;
$link-color: #5491C3;
$nav-pills-active-link-hover-bg: #3C89CC;
$btn-primary-bg: #3c89cc;
$btn-primary-border: #4580BF;
$btn-info-bg: #57BCDE;
$btn-info-border: #4580BF;
$fg-nav-tabs-active: #3C89CC;

